header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

header h1 {
    color: red;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:active {
    background-color: red;
    color: white;
}