/* Corps de la page */
body {
    background-color: #2f0028;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header h1 {
    color: red;
    font-size: 2em;
    margin: 0;
}

/* Icône du menu hamburger sur mobile */
.menu-toggle {
    display: none; /* Caché par défaut, affiché sur mobile */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 101;
}

.menu-toggle .bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

/* Navigation */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

header nav ul li a:active {
    background-color: red;
    color: white;
}

/* Styles responsives */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    header h1 {
        font-size: 1.8em;
    }

    /* Cache le menu de navigation par défaut */
    #nav-menu {
        display: none;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
        margin-left: 20px; /* Espace entre le texte et l'icône hamburger */
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%; /* Assure que les éléments prennent toute la largeur disponible */
        padding: 10px 0;
    }

    header nav ul li {
        text-align: center; /* Centrer les éléments dans la liste */
    }

    header nav ul li a {
        font-size: 1em;
        padding: 10px; /* Espace plus grand pour les liens */
        width: 100%;
    }

    /* Affiche la navigation quand le menu est activé */
    #nav-menu.active {
        display: flex;
    }
}

/* Menu activé */
@media (max-width: 768px) {
    .menu-toggle.active + #nav-menu {
        display: flex;
        flex-direction: column;
    }
}
